* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ============================= root start ==================== */
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
a:hover{
    color: orange !important;
}
.bg-one {
    background: #0a58ca;
}

.bg-two {
    background: #E5E7E9;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.my-sticky {
    position: sticky;
    top: 20px;
}

.front-text{
position: absolute;
top: 0;
display: flex;
height: 100%;
width: 100%;
align-items: flex-end;
justify-content: center;
background: rgba(0, 0, 0, 0.3);
padding-bottom: 20px;
}
.slick-prev{
    background: red !important;
    left: 0 !important;
    z-index: 1;
}
.slick-next{
    background: red !important;
    right: 0 !important;
}
.slick-dots button{
    background: #fff !important;
    border-radius: 50%;
    border: 4px solid #000 !important;
}
.slick-active button{
    border: 4px solid red !important;
    background: #000 !important;
}